* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
  }
  body {
    background-position: center;
    background-image: url('https://images.unsplash.com/photo-1572885972991-8eece633dae8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80');
    background-attachment: fixed;
    /* background-image: url('https://images.unsplash.com/photo-1572885972991-8eece633dae8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80'); */
  }
  .h1{
    color: white;
    text-align: center;
    margin-top: 15px;
  }
  .container {
    width: 90vw;
    max-width: 62.5em;
    position: relative;
    margin: auto;
  }
  .add-flashcard-con {
    display: flex;
    justify-content: flex-end;
    padding: 1.2em 1em;
  }
  button {
    border: none;
    outline: none;
    cursor: pointer;
  }
  .add-flashcard-con button {
    color: white;
    border: 1.5px solid;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
    display: inline; 
    margin-right: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    font-size: 16px;
  }
  .add-flashcard-con button:hover{
    color: #bebebe;
  }
  #card-con {
    margin-top: 1em;
  }
  .question-container {
    width: 90vw;
    max-width: 34em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 3em 2em;
    box-shadow: 0 1em 2em rgba(28, 0, 80, 0.1);
    color: white;
    border: 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    margin: 0 5px;
    display: inline; 
    margin-right: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
  }
  .question-container h2 {
    font-size: 2.2em;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2em;
  }
  .wrapper {
    display: grid;
    grid-template-columns: 11fr 1fr;
    gap: 1em;
    margin-bottom: 1em;
  }
  .error-con {
    align-self: center;
  }
  #error {
    color: #ffffff;
    font-weight: 400;
  }
  .fa-xmark {
    font-size: 1.4em;
    background-color: transparent;
    height: 1.8em;
    width: 1.8em;
    display: grid;
    place-items: center;
    color: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    justify-self: flex-end;
  }
  label {
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 0.3em;
  }
  textarea {
    width: 100%;
    padding: 0.7em 0.5em;
    border: 1px solid #d0d0d0;
    outline: none;
    color: #414a67;
    border-radius: 0.3em;
    resize: none;
  }
  textarea:not(:last-child) {
    margin-bottom: 1.2em;
  }
  textarea:focus {
    border-color: #363d55;
  }
  #save-btn {
    font-size: 1em;
    font-weight: 600;
    color: white;
    border: 1.5px solid;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
    margin-right: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
  }

  #save-btn:hover{
    color: #bebebe;
  }
  .card-list-container {
    display: grid;
    padding: 0.2em;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card {
    padding: 1.2em;
    border-radius: 4px;
    color: white;
    border: 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
    margin-right: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
  }
  .question-div,
  .answer-div {
    text-align: justify;
  }
  .question-div {
    margin-bottom: 0.5em;
    font-weight: 500;
    color: #ffffff;
  }
  .answer-div {
    margin-top: 1em;
    font-weight: 400;
    color: #ffffff;
  }
  .show-hide-btn {
    display: block;
    text-align: center;
    padding: 0.6em 0;
    border-radius: 0.3em;
    color: white;
    border: 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin: 0 5px;
    margin-right: 10px;
    background: transparent;
    backdrop-filter: blur(10px);
    font-size: 16px;
  }
  .buttons-con {
    display: flex;
    justify-content: flex-end;
  }
  .edit,
  .delete {
    background-color: transparent;
    padding: 0.5em;
    font-size: 1.2em;
  }
  .edit {
    color: #ffffff;
  }
  .delete {
    color: #ffffff;
  }
  .hide {
    display: none;
  }
  .homepage-button{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    margin: 10 5px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border: 1.5px solid;
  }

  .homepage-button:hover{
    color: #bebebe;
  }

  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999; 
    background-color: transparent;
    backdrop-filter: blur(5px);
  }
  
  .modal-content {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    max-width: 50%;
    font-size: 22px;
    text-align: center;
  }



  .hide-text {
    color: greenyellow;
    border: 2.5px solid;
  }

  .modal.show {
    display: block;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .modal-content {
    animation: slide-in 0.4s ease-out;
  }

  @keyframes slide-in {
    from {
      opacity: 0;
      transform: translate(-50%, -60%);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @media screen and (max-width: 800px) {
    .card-list-container {
      grid-template-columns: 1fr 1fr;
      gap: 0.8em;
    }
    .h1 {
      margin-top: 30px;
    }
  }
  
  @media screen and (max-width: 450px) {
    body {
      font-size: 14px;
    }
    .card-list-container {
      grid-template-columns: 1fr;
      gap: 1.2em;
    }
    .h1 {
      margin-top: 30px;
    }
  }

  @media (max-width: 768px) {
    .modal-content {
      max-width: 80%; 
      font-size: 18px; 
    }
    .h1 {
      margin-top: 30px;
    }
  }