@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: 'poppins',sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* background-color: whitesmoke;  */
  background-image: url('https://images.unsplash.com/photo-1572885972991-8eece633dae8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80');
  background-color: black;
  background-position: center;
}
canvas {
  position: relative;
  width: 650px;
  height: 550px;
  margin: 30px;
  border: 2px solid #ccc;
  padding:0 35px 0 20px;
  background: transparent;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}
.button-container {
  display: flex;
  justify-content: center;
  /* margin-top: 15px; */
}

.listings-button-jobs{
  color: white;
  border: 1.5px solid;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 5px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}


span {
  color: white;
  margin: 0 10px; 
}
.listings-button:hover{
  color: #bebebe;
}
.show-data-button-1 {
  color: white;
  border: 1.5px solid;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 5px;
  margin-left: 485px; 
  background: transparent;
  backdrop-filter: blur(10px);
  cursor: pointer;

}
.show-data-button-1:hover{
  color: #bebebe;
}
.show-data-button-2 {
  color: white;
  border: 1.5px solid;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 5px;
  margin-left: 75px; 
  background: transparent;
  backdrop-filter: blur(10px);
  cursor: pointer;

}
.show-data-button-2:hover{
  color: #bebebe;
}

/* Style for the dropdown container */
.dropdown {
  display: inline-block;
  position: relative;
  border-radius: 2px;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  border-radius: 4px;
  background: transparent;
  backdrop-filter: blur(5px);
  cursor: pointer;
  border: 1.5px solid;
  color: whitesmoke;
  margin-left: 5px;
}

/* Style for the dropdown links */
.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.dropdown-content a:hover {
  background-color: #bebebe;
}

/* Display the dropdown content when hovering over the dropdown container */
.dropdown:hover .dropdown-content {
  display: block;
}

.second-dropdown{
  align-items: center;
  position: relative;
  width: 650px;
  height: 550px;
}

#languagesToShow,
#timeFrame,
#itemsToShow {
  position: relative;
  background-color: #bebebe;
  z-index: 1;
  border-radius: 4px;
  cursor: pointer;
  border: 1.5px solid;
  color: #bebebe;
  margin-left: 4px;
  border-color: white;
  padding: 5px 15px 5px 15px;
  margin-top: 10px;
  background: transparent;
  backdrop-filter: blur(5px);
}


