@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: 'poppins',sans-serif;
  background-image: url('https://images.unsplash.com/photo-1572885972991-8eece633dae8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80');
  background-position: center;
  height: 120vh;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: auto;
  text-align: center;
  background-color: transparent;
  border-spacing: 0;
  border: 2px solid rgb(107, 107, 107);
  border-radius: 50px;
  backdrop-filter: blur(15px);

}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  color: #ddd;
}

tr:nth-child(even) {
  background-color: transparent;
}

tr {
  transition: background-color 0.2s ease-in-out;
}

tr:hover {
  background-color: #616161; 
}
.pagination-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 7px;
    margin-top: 15px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: white;
    border: 1.5px solid;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
  color: #bebebe;
}

.homepage-button{
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px 20px;
  margin: 10 5px;
  background-color: transparent;
  backdrop-filter: blur(15px);
  color: white;
  border-radius: 4px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  border: 1.5px solid;
}

.homepage-button:hover{
  color: #bebebe;
}