@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: 'poppins',sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end;  */
  height: 100vh;
  /* background-color: whitesmoke;  */
  background-image: url('https://images.unsplash.com/photo-1572885972991-8eece633dae8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80');
  background-position: center;
}

.listings-button{
  color: white;
  border: 1.5px solid;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  margin: 0 5px;
  display: inline; 
  margin-right: 10px;
}

.headline{
    color: white;
}