@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: 'poppins',sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end;  */
  height: 100vh;
  /* background-color: whitesmoke;  */
  background-image: url('https://images.unsplash.com/photo-1572885972991-8eece633dae8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80');
  background-position: center;
}


h1 {
    color: #ffffff;
    text-align: center;
}

form {
    background: transparent;
    padding: 20px;
    width: 650px;
    height: 155px;
    margin: 30px;
    max-width: 400px;
    border: 2px solid #ccc;
    padding:0 35px 0 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

input[type="file"] {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}


input[type="submit"] {
    color: white;
    border: 1.5px solid;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 25px;
    display: inline; 
    background-color: transparent;
    backdrop-filter: blur(15px);
    transition: background-color 0.4s ease;


}

input[type="submit"]:hover {
    color: #bebebe;
    cursor: pointer;
}

.homepage-button{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    margin: 10 5px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: white;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.4s ease;
    border: 1.5px solid;
}

.homepage-button:hover{
    color: #bebebe;
}

.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    backdrop-filter: blur(5px); 
}

.popup-content {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid #ccc;
    padding:0 35px 0 20px;
    background: transparent;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 200px;
    width: 250px;
    text-align: center; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    animation: slide-in 0.3s ease-out;
}

.loading-circle {
    border: 6px solid #f3f3f3;
    border-top: 6px solid #bebebe;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2.5s linear infinite;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-right: 5px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}