<!DOCTYPE html>
<html>
<head>
  <title>Jobs Statistics</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
    body {
      font-family: 'poppins',sans-serif;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: flex-end;  */
      height: 120vh;
      /* background-color: whitesmoke;  */
      background-image: url('https://images.unsplash.com/photo-1572885972991-8eece633dae8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=3174&q=80');
      background-position: center;
    }
    canvas {
      position: relative;
      width: 650px;
      height: 550px;
      margin: 30px;
      border: 2px solid #ccc;
      padding:0 35px 0 20px;
      background: transparent;
      backdrop-filter: blur(10px);
      border-radius: 20px;
    }
    .listings-button{
      color: white;
      border: 1.5px solid;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      margin: 0 5px;
    }
    .listings-button:hover{
      color: #bebebe;
    }
    .show-data-button-1 {
      color: white;
      border: 1.5px solid;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      margin: 0 5px;
      margin-left: 460px; 
      margin-top: -55px;
      background: transparent;
      backdrop-filter: blur(10px);
      cursor: pointer;

    }
    .show-data-button-1:hover{
      color: #bebebe;
    }
    .show-data-button-2 {
      color: white;
      border: 1.5px solid;
      padding: 10px 20px;
      text-decoration: none;
      border-radius: 4px;
      margin: 0 5px;
      background: transparent;
      backdrop-filter: blur(10px);
      cursor: pointer;

    }
    .show-data-button-2:hover{
      color: #bebebe;
    }

    .dropdown label, .dropdown select {
      font-size: 15px;
    }
    .dropdown select {
    padding: 5px;
    border: 1.5px solid white;
    border-radius: 4px;
    background: transparent;
    backdrop-filter: blur(10px);
    color: #bebebe; 
    margin-top: 5px;
    cursor: pointer;
  }
  </style>
</head>
<body>
  <h1 style="color: white;">Job Statistics</h1>
  <a href="/jobs" class="listings-button-jobs">Go to Job listings</a>
  <span style="color: white;">Or</span>
  <!-- <a href="/?scrapeNow=true" class="refresh-button">Refresh Data</a> -->
  <a href="/upload" class="listings-button-jobs" >Upload CV</a>
  <h3 id="dynamic-text-statistics"style="color: white; text-align: center;"> Line chart displaying the job listings available for {{ current_language }} for the last {{ technology | length }} days.</h3>
  <div style="display: flex; justify-content: right; margin-top: 25px;text-align: center;">
    <form action="/" method="GET" class="dropdown">
        <label style="color: white; " for="languagesToShow">Select language to display:</label>
        <select id="languagesToShow" name="languagesToShow" style="background-color: transparent;">
        <div class="whatever">
        <option value="Java">Java</option>
        <option value="Python">Python</option>
        <option value="PHP">PHP</option>
        <option value="JavaScript">JavaScript</option>
        <option value=".NET">.NET</option>
        <option value="Automation QA">QA Automation</option>
        <option value="Go">Go</option>
        <option value="Node.js">Node.js</option>
        <option value="React">React</option>
        </div>
        </select>
      <div>
        <label style="color: white;" for="timeFrame">Select timeframe to display:</label>
        <select id="timeFrame" name="timeFrame" style="background-color: transparent;">
        <option value="5">5</option>
        <option value="7">7</option>
        <option value="14">14</option>
        <option value="21">21</option>
        <option value="30">30</option>
        <option value="60">60</option>
        <option value="90">90</option>
        <option value="120">120</option>
        <option value="9999">All time</option>
        </select>
      </div>
      <button type="submit" class="show-data-button-1">Show Data </button>
    <div>
  </div>
    <canvas id="lineChart"></canvas>
  </div>
  <div>
    <form action="/" method="GET" >
      <label style="color: whitesmoke" for="itemsToShow" >Select number of jobs to display:</label>
      <select id="itemsToShow" name="itemsToShow" style="color: #bebebe;padding: 5px; border: 1.5px solid white; border-radius: 4px; margin-top: 5px; cursor: pointer; background-color: transparent;padding: 10px 20px; font-size: 15px;">
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
      </select>
      <button type="submit" class="show-data-button-2">Show Data</button>
    </form>
  </div>
  <div>
    <canvas id="pieChart"></canvas>
  </div>
  <footer>
    <p style="color: white;">
      <i class="fab fa-html5"></i> HTML ,
      <i class="fab fa-css3"></i> CSS ,
      <i class="fab fa-js"></i> Vanilla JS ,
      <i class="fab fa-python"></i> Python.
    </p>
    <p style="color: white; text-align: center;" id="year"></p>
  </footer>
  <script>
    const languageStatistics = JSON.parse('{{ technology | tojson }}');
    const languageDates = JSON.parse('{{ dates | tojson }}');
  

    const jobs = JSON.parse('{{ jobs_count | tojson }}');
    const jobNames = Object.keys(jobs);
    const jobValues = Object.values(jobs).map(value => parseInt(value, 10));

    const backgroundColors = [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
    ];

    for (let i = 3; i < jobValues.length; i++) {
      const hue = (i * 360) / 30;
      const color = `hsla(${hue}, 70%, 70%, 0.5)`;
      backgroundColors.push(color);
    }

    const lineCtx = document.getElementById('lineChart').getContext('2d');
    const lineChart = new Chart(lineCtx, {
      type: 'line',
      data: {
        labels: languageDates,
        backgroundColor: '#ccc',
        datasets: [{
          color: 'white',
          label: '{{ current_language }}',
          data: languageStatistics,
          borderColor: 'white',
          fill: false
        }]
      },
      options: {responsive: true,
      scales:{
        y: {ticks: {
          color: 'white', beginAtZero: true
        }},
        x: {ticks:{
          color: 'white', beginAtZero: true
        }}
      }}
    });

    const pieCtx = document.getElementById('pieChart').getContext('2d');
    const pieChart = new Chart(pieCtx, {
      type: 'pie',
      data: {
        labels: jobNames,
        datasets: [{
          label: 'Jobs',
          data: jobValues,
          backgroundColor: backgroundColors,
          borderColor: backgroundColors.map(color => color.replace('0.2', '1')),
          borderWidth: 1.5,
          position: 'border'          
        }]
      },
      options: {
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                const label = context.label || '';
                const value = context.formattedValue || '';
                return `${label}: ${value}`;
              }
            }
          },
          legend: {
            labels: {
              color: 'white' 
            }
          }
        }
      }    
    });

    const itemsToShow = localStorage.getItem('itemsToShow');
    const languagesToShow = localStorage.getItem('languagesToShow');
    const timeFrame = localStorage.getItem('timeFrame');


    if (itemsToShow !== null) {
      document.getElementById('itemsToShow').value = itemsToShow;
    }
    if (languagesToShow !== null) {
      document.getElementById('languagesToShow').value = languagesToShow;
    }
    if (timeFrame !== null) {
      document.getElementById('timeFrame').value = timeFrame;
    }

    document.getElementById('itemsToShow').addEventListener('change', function(event) {
      const selectedValue = event.target.value;
      localStorage.setItem('itemsToShow', selectedValue);
      document.getElementById('itemsToShowForm').submit();
    });


    document.getElementById('languagesToShow').addEventListener('change', function(event) {
      const selectedValue = event.target.value;
      localStorage.setItem('languagesToShow', selectedValue);
      document.getElementById('languagesToShowForm').submit();
    });
    

    document.getElementById('timeFrame').addEventListener('change', function(event) {
      const selectedValue = event.target.value;
      localStorage.setItem('timeFrame', selectedValue);
      document.getElementById('timeFrame').submit();
    });

    const currentYear = new Date().getFullYear();

    const yearElement = document.getElementById('year');
    yearElement.textContent = currentYear;
  </script>
</body>
</html>
