<!DOCTYPE html>
<html>
<head>
  <title>Job Listings</title>
  <link rel="stylesheet" href="/static/css/cv_filter_results.css">
  <link rel="stylesheet" href="/static/css/top_button.css">
</head>
<body>
  <h1 style="color: white; text-align: center;">{{ filtered_jobs | length }} Jobs found for {{ keyword }}.</h1>
  <a href="/" class="homepage-button">Back</a>
  <a href="/download/{{ downloadable_file }}" class="homepage-button" style="margin-left: 10px;">Export Results</a>
  {% if filtered_jobs %}
    <table>
      <tr>
        <th>#</th>
        <th>Job Title</th>
        <th>Job Link</th>
        <th>Generated on</th>
      </tr>
      {% for title, link in filtered_jobs.items()%}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ title }}</td>
        <td><a style="color: white" href="{{ link }}" target="Link">Click here</a></td>
        <td>{{ date_generated }}</td>
      </tr>
      {% endfor %}
    </table>
  {% endif %}
    <button onclick="topFunction()" id="myBtn" class="top-button" title="Go to top">Top</button>
    <script>
      // Get the button:
      let mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      }
      event.preventDefault();
    </script>
</body>
</html>
