<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flashcards</title>
    <!-- Font Awesome Icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="/static/css/flashcard.css"/>
    <link rel="stylesheet" href="/static/css/top_button.css">
  </head>
  <body>
    <h1 style="color: white; text-align: center; margin-top: 20px;">{{ object }}.</h1>
    <a href="/" class="homepage-button">Back</a>
    <div class="container">
      <div class="add-flashcard-con">
        <button id="add-flashcard">Add Flashcard</button>
      </div>

      <!-- Modal -->
      <div id="answerModal" class="modal">
        <div class="modal-content">
          <span class="close" id="closeModal">&times;</span>
          <p id="modalAnswer"></p>
        </div>
      </div>

      <!-- Display Card of Question And Answers Here -->
      <div id="card-con">
        <div class="card-list-container"></div>
      </div>
    </div>

    <!-- Input form for users to fill question and answer -->
    <div class="question-container hide" id="add-question-card">
      <h2>Add Flashcard</h2>
      <div class="wrapper">
        <!-- Error message -->
        <div class="error-con">
          <span class="hide" id="error">Input fields cannot be empty!</span>
        </div>
        <!-- Close Button -->
        <i class="fa-solid fa-xmark" id="close-btn"></i>
      </div>

      <label for="question">Question:</label>
      <textarea
        class="input"
        id="question"
        placeholder="Type the question here..."
        rows="2"
      ></textarea>
      <label for="answer">Answer:</label>
      <textarea
        class="input"
        id="answer"
        rows="4"
        placeholder="Type the answer here..."
      ></textarea>
      <button id="save-btn">Save</button>
    </div>
    <button onclick="topFunction()" id="myBtn" class="top-button" title="Go to top">Top</button>
    <footer style="background-color: transparent; color: yellow; text-align: center; padding: 10px;">
      <p>&copy; Made by Iliyan Panchev 2023</p>
    </footer>
    <script>
      const container = document.querySelector(".container");
      const addQuestionCard = document.getElementById("add-question-card");
      const cardButton = document.getElementById("save-btn");
      const question = document.getElementById("question");
      const answer = document.getElementById("answer");
      const errorMessage = document.getElementById("error");
      const addQuestion = document.getElementById("add-flashcard");
      const closeBtn = document.getElementById("close-btn");
      let editBool = false;

      // Dummy data for illustration
      const flashcardData = JSON.parse('{{ flashcard_data | tojson | safe }}');

      // Add event listener to load flashcards on page load
      document.addEventListener("DOMContentLoaded", () => {
        loadFlashcards(flashcardData);
      });

      // Function to load flashcards
      function loadFlashcards(data) {
        const listCard = document.querySelector(".card-list-container");

        // Clear existing flashcards
        listCard.innerHTML = "";

        // Iterate through flashcard data and create flashcards
        data.forEach((flashcard) => {
          const div = document.createElement("div");
          div.classList.add("card");

          // Question
          div.innerHTML += `<p class="question-div">${flashcard.question}</p>`;

          // Answer
          const displayAnswer = document.createElement("p");
          // displayAnswer.classList.add("answer-div", "hide");
          // displayAnswer.innerText = flashcard.answer;

          // Link to show/hide answer
          const link = document.createElement("a");
          link.setAttribute("href", "#");
          link.setAttribute("class", "show-hide-btn");
          link.innerHTML = "Show Answer";
          link.addEventListener("click", () => {
            displayAnswer.classList.toggle("hide");
            event.preventDefault();
            if (link.innerHTML == 'Show Answer') {
              link.innerHTML = 'Answered.';
              link.style.color = 'greenyellow';
              link.style.border = '2px solid';

              document.getElementById("modalAnswer").innerText = flashcard.answer;
              document.getElementById("answerModal").style.display = "block";
            } 
            else {
              link.innerHTML = 'Show Answer';
              link.style.color = 'white';
              link.style.border = '';

              document.getElementById("answerModal").style.display = "none";
            }
          });

          div.appendChild(link);
          div.appendChild(displayAnswer);

          // Edit button
          const buttonsCon = document.createElement("div");
          buttonsCon.classList.add("buttons-con");

          const deleteButton = document.createElement("button");
          deleteButton.setAttribute("class", "delete");
          // deleteButton.innerHTML = `<i class="fa-solid fa-trash-can"></i>`;
          deleteButton.addEventListener("click", () => {
            // Handle delete functionality
            flashcardData.splice(index, 1); // Remove the flashcard from the data
            loadFlashcards(flashcardData); // Reload flashcards with updated data
          });

          buttonsCon.appendChild(deleteButton);
          div.appendChild(buttonsCon);

          listCard.appendChild(div);
        });
      }

      // Add question when user clicks 'Add Flashcard' button
      addQuestion.addEventListener("click", () => {
        container.classList.add("hide");
        question.value = "";
        answer.value = "";
        addQuestionCard.classList.remove("hide");
        loadFlashcards(flashcardData);
      });

      // Hide Create flashcard Card
      closeBtn.addEventListener("click", () => {
        container.classList.remove("hide");
        addQuestionCard.classList.add("hide");
        if (editBool) {
          editBool = false;
          submitQuestion();
        }
      });
      // Function to close the modal
      function closeModal() {
        const modal = document.getElementById("answerModal");
        modal.style.display = "none";
      }

      // Close modal when the close button is clicked
      const closeModalBtn = document.getElementById("closeModal");
      closeModalBtn.addEventListener("click", () => {
        closeModal();
        // link.innerHTML = 'Show Answer';
      });

      // Add event listener to close modal when clicking outside the modal
      document.addEventListener("click", (event) => {
        const modal = document.getElementById("answerModal");
        if (event.target === modal) {
          closeModal();
          // link.innerHTML = 'Show Answer';
        }
        
      });
      // Submit Question
      cardButton.addEventListener("click", () => {
        editBool = false;
        tempQuestion = question.value.trim();
        tempAnswer = answer.value.trim();
        if (!tempQuestion || !tempAnswer) {
          errorMessage.classList.remove("hide");
        } else {
          container.classList.remove("hide");
          errorMessage.classList.add("hide");

          const newFlashcard = { question: tempQuestion, answer: tempAnswer };
          flashcardData.push(newFlashcard);

          // Reload flashcards with updated data
          loadFlashcards(flashcardData);

          question.value = "";
          answer.value = "";
        }
      });

      // Get the button:
      let mybutton = document.getElementById("myBtn");

      // When the user scrolls down 20px from the top of the document, show the button
      window.onscroll = function() {scrollFunction()};

      function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          mybutton.style.display = "block";
        } else {
          mybutton.style.display = "none";
        }
      }
      // When the user clicks on the button, scroll to the top of the document
      function topFunction() {
        window.scrollTo({ top: 0, behavior: 'smooth' });
      }
    </script>
  </body>
</html>