<!DOCTYPE html>
<html>
<head>
  <title>Job Hunter</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/css/homepage.css">
  <link rel="stylesheet" href="/static/css/top_button.css">
</head>
<body>
  <h1 style="color: white;">Job Listings Statistics</h1>
  <div class="button-container">
    <a href="/jobs" class="listings-button-jobs">Browse</a>
    <!-- <a href="/?scrapeNow=true" class="refresh-button">Refresh Data</a> -->
    <a href="/upload" class="listings-button-jobs" data-test="upload-cv-button" style="margin-top: 15px;">Upload</a>
    <div class="dropdown">
      <a href="#" class="listings-button-jobs" data-test="learn-button" style="margin-top: 15px;">Learn</a>
      <div class="dropdown-content">
        <a href="/learn?category=oop">OOP</a>
        <a href="/learn?category=dsa">DSA</a>
        <a href="/learn?category=web">WEB</a>
        <!-- <a href="/learn?category=prep">PREP</a> -->
      </div>
    </div>
  </div>
  <h3 id="dynamic-text-statistics"style="color: white; text-align: center; margin-top: 75px;"> Line chart displaying the job listings available for {{ current_language }} for the last {{ technology | length }} days.</h3>
  <div style="display: flex; justify-content: right; margin-top: 25px;text-align: center;">
    <form action="/" method="GET" class="dropdown">
        <label style="color: white; " for="languagesToShow">Select language to display:</label>
        <select id="languagesToShow" name="languagesToShow" style="background-color: transparent; backdrop-filter: blur(10px); text-align: left;">
        <div class="whatever" style="color: #bebebe; padding: 5px; border: 1.5px solid white; border-radius: 4px; margin-top: 5px; cursor: pointer; background-color: transparent;padding: 10px 20px; font-size: 15px;">
        <option value="Java">Java</option>
        <option value="Python" selected="selected">Python</option>
        <option value="PHP">PHP</option>
        <option value="JavaScript">JavaScript</option>
        <option value=".NET">.NET</option>
        <option value="Automation QA">QA Automation</option>
        <option value="Go">Go</option>
        <option value="Node.js">Node.js</option>
        <option value="React">React</option>
        </div>
        </select>
      <div>
        <label style="color: white; text-align: left; " for="timeFrame">Select timeframe to display:</label>
        <select id="timeFrame" name="timeFrame" style="background-color: transparent; backdrop-filter: blur(10px); text-align: left; ">
        <option value="5">5</option>
        <option value="7" selected="selected">7</option>
        <option value="14">14</option>
        <option value="21">21</option>
        <option value="30">30</option>
        <option value="60">60</option>
        <option value="90">90</option>
        <option value="120">120</option>
        <option value="180">180</option>
        </select>
      </div>
      <button type="submit" class="show-data-button-1">Show Data </button>
    <div>
  </div>
    <canvas id="lineChart" style="margin-top: 20px;"></canvas>
  </div>
  <div>
    <h3 id="dynamic-text-technologies" style="color: white; text-align: center;">Pie chart with job distribution for {{ jobs_count | length }} languages and technologies.</h3>
    <form action="/" method="GET" >
      <label style="color: whitesmoke" for="itemsToShow" >Select number of jobs to display:</label>
      <select id="itemsToShow" name="itemsToShow" >
        <option value="5" selected="selected">5</option>
        <option value="10">10</option>
        <option value="15">15</option>
        <option value="20">20</option>
        <option value="25">25</option>
        <option value="30">30</option>
      </select>
      <button type="submit" class="show-data-button-2">Show Data</button>
    </form>
  </div>
  <div>
    <canvas id="pieChart" style="margin-top: 20px;"></canvas>
  </div>
  <footer>
    <p style="color: white;">
      <i class="fab fa-html5"></i> HTML ,
      <i class="fab fa-css3"></i> CSS ,
      <i class="fab fa-js"></i> Vanilla JS ,
      <i class="fab fa-python"></i> Python.
    </p>
    <p style="color: white; text-align: center;" id="year"></p>
  </footer>
  <button onclick="topFunction()" id="myBtn" class="top-button" title="Go to top">Top</button>
  <script>
    const languageStatistics = JSON.parse('{{ technology | tojson }}');
    const languageDates = JSON.parse('{{ dates | tojson }}');
  

    const jobs = JSON.parse('{{ jobs_count | tojson }}');
    const jobNames = Object.keys(jobs);
    const jobValues = Object.values(jobs).map(value => parseInt(value, 10));

    const backgroundColors = [
      'rgba(255, 99, 132, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(255, 206, 86, 0.2)',
    ];

    for (let i = 3; i < jobValues.length; i++) {
      const hue = (i * 360) / 30;
      const color = `hsla(${hue}, 70%, 70%, 0.5)`;
      backgroundColors.push(color);
    }

    const lineCtx = document.getElementById('lineChart').getContext('2d');
    const lineChart = new Chart(lineCtx, {
      type: 'line',
      data: {
        labels: languageDates,
        backgroundColor: '#ccc',
        datasets: [{
          color: 'white',
          label: '{{ current_language }}',
          data: languageStatistics,
          borderColor: 'white',
          fill: false
        }]
      },
      options: {responsive: true,
      scales:{
        y: {ticks: {
          color: 'white', beginAtZero: true
        }},
        x: {ticks:{
          color: 'white', beginAtZero: true
        }}
      }}
    });

    const pieCtx = document.getElementById('pieChart').getContext('2d');
    const pieChart = new Chart(pieCtx, {
      type: 'pie',
      data: {
        labels: jobNames,
        datasets: [{
          label: 'Jobs',
          data: jobValues,
          backgroundColor: backgroundColors,
          borderColor: backgroundColors.map(color => color.replace('0.2', '1')),
          borderWidth: 2,
          position: 'border'          
        }]
      },
      options: {
        plugins: {
          tooltip: {
            callbacks: {
              label: function(context) {
                const label = context.label || '';
                const value = context.formattedValue || '';
                return `${label}: ${value}`;
              }
            }
          },
          legend: {
            labels: {
              color: 'white' 
            }
          }
        }
      }    
    });

    const itemsToShow = localStorage.getItem('itemsToShow');
    const languagesToShow = localStorage.getItem('languagesToShow');
    const timeFrame = localStorage.getItem('timeFrame');


    if (itemsToShow !== null) {
      document.getElementById('itemsToShow').value = itemsToShow;
    }
    if (languagesToShow !== null) {
      document.getElementById('languagesToShow').value = languagesToShow;
    }
    if (timeFrame !== null) {
      document.getElementById('timeFrame').value = timeFrame;
    }

    document.getElementById('itemsToShow').addEventListener('change', function(event) {
      const selectedValue = event.target.value;
      localStorage.setItem('itemsToShow', selectedValue);
      document.getElementById('itemsToShowForm').submit();
    });


    document.getElementById('languagesToShow').addEventListener('change', function(event) {
      const selectedValue = event.target.value;
      localStorage.setItem('languagesToShow', selectedValue);
      document.getElementById('languagesToShowForm').submit();
    });
    

    document.getElementById('timeFrame').addEventListener('change', function(event) {
      const selectedValue = event.target.value;
      localStorage.setItem('timeFrame', selectedValue);
      document.getElementById('timeFrame').submit();
    });

    const currentYear = new Date().getFullYear();
    const yearElement = document.getElementById('year');
    yearElement.textContent = currentYear;

    // Get the button:
    let mybutton = document.getElementById("myBtn");

    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        mybutton.style.display = "block";
      } else {
        mybutton.style.display = "none";
      }
    }
    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
      window.scrollTo({ top: 0, behavior: 'smooth' });
    }
    event.preventDefault();
  </script>
</body>
</html>
