<!DOCTYPE html>
<html>
<head>
  <title>Job Listings</title>
  <link rel="stylesheet" href="/static/css/jobs_listing.css">
</head>
<body>
  <h1 style="color: white; text-align: center;">{{ all_job_listings | length }} Available listings for: Intern / Junior</h1>
  <a href="/" class="homepage-button">Back</a>
  <table>
    <tr>
      <th>#</th>
      <th>Job Title</th>
      <th>Job Link</th>
      <th>Date scraped</th>
    </tr>
    {% for title, link in job_listings%}
    <tr>
      <td>{{ loop.index }}</td>
      <td>{{ title }}</td>
      <td><a style="color: white" href="{{ link }}" target="Link">Click here</a></td>
      <td>{{ listing_date }}</td>
    </tr>
    {% endfor %}
  </table>
  <div class="pagination">
    {% if current_page > 1 %}
      <a href="/jobs?page={{ current_page - 1 }}">Prev</a>
    {% endif %}
  
    <span style="color: white; margin-top: 15px;">Page {{ current_page }} of {{ total_pages }}</span>
  
    {% if current_page < total_pages %}
      <a href="/jobs?page={{ current_page + 1 }}">Next</a>
    {% endif %}
  </div>
</body>
</html>
