<!DOCTYPE html>
<html>
<head>
    <title>Upload CV</title>
    <link rel="stylesheet" href="/static/css/upload_cv.css">
</head>
<body>
    <h1 style="text-align: center;">Get job listings tailored to your qualifications.</h1>
    <a href="/" class="homepage-button" style="position: absolute; top: 10px; left: 10px;">Back</a>
    {% if msg %}
    <div class="alert alert-success" role="alert" style="color: rgb(255, 255, 255);">
        {{msg}}
    </div>
    {% endif %}
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="file" style="color: white;">Choose a PDF file:</label>
        <input style="color: white;" type="file" id="file" name="file" accept=".pdf" required>
        <br>
        <input onclick="openLoadingCircle()" type="submit" value="Upload" style="margin-left: 326px;">
        <p style="color: white; margin-top: 35px;">Disclaimer: No information from the CV is retained in the application.</p>
    </form>
    <div class="popup-container" id="loadingCircleContainer" style="display: none;">
        <div class="popup-content">
            <h2 id="loadingText" style="text-align: center;">Uploading CV</h2>
            <!-- <div class="loading-circle"></div> -->
        </div>
    </div>
    <script>
        function openLoadingCircle() {
            var fileInput = document.getElementById("file");
            if (fileInput.files.length > 0) {
                setTimeout(function () {
                    document.getElementById("loadingCircleContainer").style.display = "block";
                    const loadingText = document.getElementById("loadingText");
                    setTimeout(() => {
                        loadingText.innerText = "Scanning CV";
                    }, 2350); 

                    setTimeout(() => {
                        loadingText.innerText = "Searching Jobs";
                    }, 5000); 

                    setTimeout(() => {
                        loadingText.innerText = "Collecting Results";
                    }, 10000); 

                    setTimeout(() => {
                        loadingText.innerText = "Almost There.";
                    }, 15000); 
            }, 0);
        }
    }
    </script>
</body>
</html>
